@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  background-color: #242821;
  background-color: #202C31;
  /* background-color: #1A1F26; */
  /* background-color: #1d272b; */
  color: #CAD2C5;
  font-family: 'Roboto', sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Dark {
  background-color: #202C31;
  color: #CAD2C5;
}

.Dark-txt {
  color: #202C31;
}

.Dark-txt a {
  color: #202C31;
  text-decoration: none;
}


.Light {
  color: #202C31;
  background-color: #CAD2C5;
}

.Light-txt {
  color: #CAD2C5;
}

.Light-txt a {
  color: #CAD2C5;
  text-decoration: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {

}

.Navbar {
  min-height: 15vh;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-content: center;
  align-items: center;
}

.Nav-links {
  display: flex;
  justify-content: left;
}

.Nav-list {
  padding-top: 2px;
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: left;
  margin-left: -35.5px;
}
.Nav-link {
  padding-right: 20px;
  padding-left: -20px;

}
.Nav-link a:hover {
  text-decoration: underline;
}

.Logo {
  margin: 0 auto;
  margin-top: 5px;
  width: auto;
  height: 45%;
}


.Landing-container {
  /* display: grid;
  grid-template-columns: 1fr 4fr 1fr; */
  width: 100%;
  text-align: left;
}

.Landing-banner {
  min-height: 100vh;
}

.Landing-image-container {

}

.Landing-image {
  width: 100%;
  height: auto;
}
.Landing-text-container {
  width: 40%;
  margin-top: 40vh;
  margin-left: 10%;
  padding: 10px;
  text-align: left;
}

.Landing-greeting {
  color: #52796f;
  font-family: 'Roboto Mono', monospace;
  font-size: x-large;
}

.Landing-name {
  color: #EAEDE8;
  font-size: 5em;
}

.Landing-p-1 {
  color: #354f52;
  font-size: larger;
}

.Landing-image {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.Mobile-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.About-container {
  min-height: 100vh;
  color: #EAEDE8;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  text-align: left;
}

.Work-container {
  min-height: 100vh;
  color: #EAEDE8;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  text-align: left;
}

.Work-content {
  display: grid;
  grid-template-rows: 70px 1fr 1fr;
}

.Project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Project-card {
  height: 100%;
  /* border-left: 1px solid #C9D2C5;
  border-right: 1px solid #C9D2C5; */
  border-radius: 10px;
  margin: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr 100px;
}

.Project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.Project-about {
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid #C9D2C5;
  border-radius: 10px;
}

.Project-title {
  padding: 10px 0px;
  font-size: large;
  color: #C9D2C5;
}

.Project-description {
  padding: 10px 0px;
  color: #C9D2C5;
}

.Project-links {
  display: flex;
  justify-content: flex-start;
}

.Link {
  padding-right: 10px;
}

.Link a {
  text-decoration: none;
  color: #C9D2C5;
}

.Link a:hover {
  text-decoration: underline;
}

.Project-tech {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #C9D2C5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
}

.Tech-logo {
  height: 40px;
  width: 40px;
}

.contact-container {
  min-height: 100vh;

}

.App-link {
  color: #61fbc2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .Project-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
